@charset "UTF-8";

/* CSS Document */
body, h1, h2, h3, h4,h5,p, ul, li,span,div{
    padding:0;
	  color:#2A8648;
    text-align: center;
    margin: 0, auto;
    font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  padding-top: 5vh;
}

main{
  width: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

.beige {
  background-color: #FFFCF3;
}

.logo{
  position: absolute;
  width: 100vw;
}

#logo {
  height: 10vh;
  margin: 1.6vh;
  margin-top: 0;
}

header {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.center {
  text-align: center;
}

#underlined {
  text-decoration-line: underline;
}

.full-page {
  margin: 0;
  height: 100vh;
}

.desktop {display: block;}
.mobile {display: none;}


@media screen and (orientation: portrait) {
  .desktop {display: none;}
  .mobile {display: block;}
  .chara-bottom {height: 350vw;}
  .partstext2 {width: 80vw;}
}

.overlay {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: -85vh;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  overflow-y: hidden;
  transition: 0.5s;
}

.kumoleft {
  height: 100vh;
  width: 20vh;
  position: fixed;
  /* background-color: black; */
}

#kumoitself {
  padding-top: 5vh;
}

.nav {
  position: relative;
  height: 100%;
  width: 90%;
  text-align: left;
  margin-left: 20vh;
  margin-top: 10vh;
  /* background-color: white; */
}

.nav a {
  padding: 1vh;
  display: block;
  transition: 0.3s;
}

/* .overlay {
  height: 0%
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFCF3;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 90%;
  text-align: left;
  margin-top: 0;
  margin-left: 10%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.closebtn {
  position: absolute;
  top: 0;
  left: 0;
} */

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}